<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.bookclub.app.notice.NoticeDAO">
  
  <select id="getList" resultType="com.bookclub.app.board.BoardVO"  >
   select * from notice order by no desc
  </select>
  
  <insert id="setInsert" parameterType="com.bookclub.app.board.BoardVO" >
  insert into notice(no, title, content, writer, regdate, hit) 
  values(notice_seq.nextval, '${title}', '${content}','${writer}',sysdate, 0)
  </insert>
  
  <select id="getSelectOne" parameterType="com.bookclub.app.board.BoardVO" resultType="com.bookclub.app.board.BoardVO">
  select * from notice where no = ${no}
  </select>
 
 <delete id="setDelete" parameterType="java.lang.Integer" >
 delete from notice where no = #{no}
 </delete>
  
  <update id="setUpdateHit" parameterType="java.lang.Integer" >
  update notice set hit = hit+1 
  where no = #{no}
  </update>
  
  </mapper>  